server:
  port: 8080

spring:
  application:
    name: gateway-service
  cloud:
    gateway:
      globalcors:
        cors-configurations:
          '[/**]':
            allowedOriginPatterns: "*"
            allowedMethods:
              - GET
              - POST
              - PUT
              - DELETE
              - OPTIONS
              - PATCH
            allowedHeaders: "*"
            allowCredentials: true


      routes:

        - id: auth_route
          uri: http://auth-service:8083
          predicates:
            - Path=/auth/**

        - id: patients_route
          uri: http://patients-service:8081
          predicates:
            - Path=/patients/**
          filters:
            - AuthenticationFilter

        - id: doctors_route
          uri: http://scheduling-service:8082
          predicates:
            - Path=/doctors/**
          filters:
            - AuthenticationFilter

        - id: appointments_route
          uri: http://scheduling-service:8082
          predicates:
            - Path=/appointments/**
          filters:
            - AuthenticationFilter